<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<form action="/edit-job" method="post">
    <input type="text" placeholder="Enter job title" name="job-title"/><br>
    <input type="number" placeholder="Enter job annual salary" name="job-salary"/><br>
    <input type="number" placeholder="Enter years of experience" name="job-years"/><br>
    <input type="text" placeholder="Enter location of job" name="job-location"/><br>
    <button type="submit">Submit</button>
</form>
</body>
</html>